<!DOCTYPE html>
<html>
  <head>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="/static/index.js"></script>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-nr-min.css">
    <link rel="stylesheet" href="/static/dagr.css">
    <title>Dagr</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  
  <body>
    <div id="container">
      <!-- header --> 
      <div class="pure-menu pure-menu-open pure-menu-horizontal">
        <a href="/" class="pure-menu-heading">Dagr</a>
      </div>
      
      <div class="status pure-g">
        <div id="succeeded" class="pure-u-1-3">
          <h2 class="counter">{{.Succeeded}}</h2>
        </div>
        <div id="retryable" class="pure-u-1-3">
          <h2 class="counter">{{.Retryable}}</h2>
        </div>
        <div id="failed" class="pure-u-1-3">
          <h2 class="counter">{{.Failed}}</h2>
        </div>
      </div>
      
      
      <div id="programs">
        <table class="pure-table">
          <thead>
            <tr>
              <th class="program-name">Program</th>
              <th>Last execution</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          
          <tbody>
{{range .ProgramStatuses}}
            <tr class="program-status" data-socket-path="{{.ProgramExecutionsSocketPath}}">
              <td class="program-name table-1-3">
                <a href="/program/{{.Program.Name}}">{{.Program.Name}}</a>
              </td>
              <td class="execution-time table-1-3">{{if .Execution}}<a href="/executions/{{.Execution.Id}}">{{.ExecutionTime}}</a>{{else}}<a href="#">Never run</a>{{end}}</td>
              <td class="execution-status">
                {{if .Succeeded}}
                <div class="exec-status-label succeeded">
                  Succeeded
                </div>
                {{else if .Failed}}
                <div class="exec-status-label failed">
                  Failed
                </div>
                {{else if .Retryable}}
                <div class="exec-status-label retryable">
                  Retryable
                </div>
                {{else if .Waiting}}
                <div class="exec-status-label waiting">
                  Waiting
                </div>
                {{else if .Running}}
                <div class="exec-status-label running">
                  Running
                </div>
                {{else}}
                {{/* never run */}}
                {{end}}
              </td>
              <td>
                <form action="/program/{{.Program.Name}}/execute" method="post">
                  <button class="program-run pure-button pure-button-primary {{if not .Runnable}}pure-button-disabled{{end}}">Run</button>
                </form>
              </td>
            </tr>
{{end}}
          </tbody>
        </table>
      </div>
    </div>

  </body>
</html>
