html {
    height: 100%;
}
body {
    background-color: #EBEBEB;
    height: 100%;
}
#container {
    background-color: white;
    width: 900px;
    margin: 0 auto;
    height: 100%;
    box-shadow: 0px 0px 25px 11px rgba(50, 50, 50, 0.05);
}
.content {
  padding: 0 0 0 20px;
}
.status h2.counter {
  font-size: 55px;
  margin: 0 0 0 15px;
}

#succeeded {
    background-color: #dff0d8;
    color: #3c763d;
}
#retryable {
    background-color: #fcf8e3;
    color: #8a6d3b;
}
#failed {
    background-color: #f2dede;
    color: #a94442;
}

#programs table, #executions table {
    width: 100%;
    border: none;
}

#programs thead, #executions thead {
    background-color: #f1f3f9;
}

#execution h2 {
  margin: 0 0 5px 0;
}

#programs td,
#programs th,
#executions td,
#executions th {
    border-left: none;
}

.exec-started-time {
  color: #999;
}
.exec-status-label {
  display: inline;
  padding: 5px;
  border-radius: 5px;
}

.succeeded {
    background-color: #dff0d8;
    color: #3c763d;
}

.failed {
    background-color: #f2dede;
    color: #a94442;
}

.retryable {
    background-color: #fcf8e3;
    color: #8a6d3b;
}

.running {
    background-color: #ebebeb;
    color: black;
}

.waiting {
	background-color: #f9f9f9;
    color: black;
}

.table-1-3 {
    width:33.33333%;
}


#messages pre {
  background-color: #efefef;
  padding: 5px 0 5px 10px;
}

#messages pre .err {
    color: #a94442;
}

#messages pre .ok {
    font-weight: bold;
}

#messages pre .fail {
    color: #a94442;
    font-weight: bold;
}
